@tailwind base;

@layer base {
  html {
    @apply text-slate-400;
  } 

  a {
    @apply text-cyan-700 hover:text-cyan-600;
  }

  input, select {
    @apply bg-gunmetal-800 rounded-md border-none my-3 p-2;
  }

  input:disabled, select:disabled, button:disabled {
    @apply opacity-50;
  }

  input[type="number"]::-webkit-inner-spin-button,
  input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }

  button.link {
    @apply text-left text-cyan-700;
  }

  button.link:not:disabled {
    @apply text-left text-cyan-700 hover:text-cyan-600;
  }
}

@tailwind components;
@tailwind utilities;

@layer components {
  .btn-primary {
    @apply bg-cyan-700 hover:bg-cyan-600 disabled:hover:bg-cyan-700 disabled:opacity-50 text-white py-2 px-4 rounded-lg inline-flex items-center;
  }

  .btn-warn {
    @apply bg-orange-500/50 hover:bg-orange-400/50 disabled:hover:bg-orange-500/50 disabled:opacity-50 text-white py-2 px-4 rounded-lg inline-flex items-center;
  }

  .btn-danger {
    @apply bg-red-500/50 hover:bg-red-400/50 disabled:hover:bg-red-500/50 disabled:opacity-50 text-white py-2 px-4 rounded-lg inline-flex items-center;
  }

  .badge {
    @apply bg-slate-500/20 text-slate-300 inline-block my-1 px-1 py-1 text-xs text-center rounded-md
  }

  .badge.success {
    @apply bg-green-500/20 text-green-300
  }

  .badge.warning {
    @apply bg-orange-500/20 text-orange-300
  }

  .badge.danger {
    @apply bg-red-500/20 text-red-300
  }

  .badge.info {
    @apply bg-cyan-500/20 text-cyan-300
  }

  .invalid-feedback {
    @apply text-xs mt-1 text-red-400/70
  }
}
